@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body, html {
    padding: 0;
    margin: 0;
    
}

.base {
    display: flex;
}

/* LEFT SIDE STUFF  */
.leftImage {
    height: 100vh; 
    width: 30vw; 
    object-fit: cover;
    display: block;
}

.leftSide {
    position: relative;
}

.logoContainer {
    position: absolute;
    top: 8em;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.logoText {
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 4em;
}

.logoImage {
    width: 4em;
}

/* RIGHT SIDE STUFF */
.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70vw;
    background-color: #f7f7f7;
    padding: 3rem;
}

.topText {
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 40vw;
}

.raised {
    box-shadow: 1px 1px 1px 1px#c5c5c5;
    background-color: white;
    padding: 1rem 3rem;
    margin: 0 -3.7em;
    position: relative;
}

.title {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    font-weight: 500;
}

.formContainer {
    position: relative;
    font-size: .8em;
    font-weight: 400;
}

.formGrouper {
    display: flex;
    gap: 10em;
}

label {
    position: absolute;
    bottom: 2.5em;
}

.allFields {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.submitButton {
    margin-top: 2rem;
    border-width: 0;
    background-color: #3e4e22;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em 1.5em;
}

.already {
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

.logIn {
    color:#3e4e22;
    text-decoration: none;
}

.password:invalid {
    border-color: red;
}